---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:zzvDAx0Hfb1O5rNaKKjQ1A"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:zzvDAx0Hfb1O5rNaKKjQ1A:o9dv3xKSXJBbzxp1"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"05a5e68e-bc50-4198-8a74-6a160b5d9e81"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ce4b00d861ca485cf","executions":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ce4b00d861ca485cf/executions"},"triggerScheduleId":"5cb8749ae4b0fc1fc980280f"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"5eac192f-7061-4859-97a1-2558c69a2df7"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ae4b0fc1fc980280f","executions":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ae4b0fc1fc980280f/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 13:06:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:5hCp6Wuqh4ZJECFlQgPOww"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:5hCp6Wuqh4ZJECFlQgPOww:8CDTmG7MVqRMhH9X"
      X-Gdc-Request-Time:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"main.rb","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"055cd20c-7b0b-43d1-ad0e-878755ce9506"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules/5cb8717ae4b0d86679f226a6","executions":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules/5cb8717ae4b0d86679f226a6/executions"},"triggerScheduleId":"5cb8717ae4b0d86679f226a5"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"943cdbcc-875d-4c3a-9eff-0cc98afd0bb6"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules/5cb8717ae4b0d86679f226a5","executions":"/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules/5cb8717ae4b0d86679f226a5/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 13:06:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:pWltxA4jPU2ACBzOFobYzg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xsz1uanbekkxjyc5i9i2sh85khwy8xn9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:JtEUZ5PcQFy-z9s8GS2TIw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:JtEUZ5PcQFy-z9s8GS2TIw:cRBU4q2A6K60Rv3q"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/xsz1uanbekkxjyc5i9i2sh85khwy8xn9/schedules","items":[{"sche[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:KRcf-7zz-7WM71BR3_ifxg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '14'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:KRcf-7zz-7WM71BR3_ifxg:pSVlFEHImhqBB4hM"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"f6510396-2035-4a19-bc95-fd65e0e450a2"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules/5e25323571a60127ae1c56ff","executions":"/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules/5e25323571a60127ae1c56ff/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"main.rb","param_2":"b","dynamic_param":"LCM_SPEC_CLIENT_2","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"b59bae99-40e1-48ab-af77-1f5d0386db4f"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null,"dynamic_hidden_param":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules/5e25323571a60127ae1c5700","executions":"/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules/5e25323571a60127ae1c5700/executions"},"triggerScheduleId":"5e25323571a60127ae1c56ff"}}]}}'
  recorded_at: Mon, 20 Jan 2020 05:14:13 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d02y5s6j3x8qa3khic97varmbv0f5x84/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:SOUqfyy0E3DpgK3P_f_7ng"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
