---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:kqWMdIMR5nB2RfHvQG9tTA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":LUAPE43vz1OObhJlKnNSVw:kqWMdIMR5nB2RfHvQG9tTA:roFeiiz2FUTEpc5y"
      X-Gdc-Request-Time:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules","items":[{"schedule":{"name":"add-component-schedule","type":"MSETL","state":"ENABLED","params":{"EXECUTABLE":"add-component-schedule","PROCESS_ID":"368faa4b-2d56-4662-9233-239f99ae8662"},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f4ee4b00d861ca485c6","executions":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f4ee4b00d861ca485c6/executions"}}},{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"0be05bea-f71a-4917-8caf-f6fc4ad8d49a"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f49e4b00d861ca485c5","executions":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f49e4b00d861ca485c5/executions"},"triggerScheduleId":"5cb86f46e4b00d861ca485c4"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"00827e06-ce31-4f03-b363-03c2c323e0bb"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f46e4b00d861ca485c4","executions":"/gdc/projects/auf7ejg5mq8nlrydldhrddyssk6wsh4e/schedules/5cb86f46e4b00d861ca485c4/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 13:00:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:gsYrqwJTjaTOah82mjT_mQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:gsYrqwJTjaTOah82mjT_mQ:Fa9evhpX42izwRN5"
      X-Gdc-Request-Time:
      - '14'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules","items":[{"schedule":{"name":"main.rb","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"05a5e68e-bc50-4198-8a74-6a160b5d9e81"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ce4b00d861ca485cf","executions":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ce4b00d861ca485cf/executions"},"triggerScheduleId":"5cb8749ae4b0fc1fc980280f"}},{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"5eac192f-7061-4859-97a1-2558c69a2df7"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ae4b0fc1fc980280f","executions":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6/schedules/5cb8749ae4b0fc1fc980280f/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 13:00:28 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m5sam0e9tjgghtstn5re30se45kioqmt/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:No1lSTcZ9mYi0wjL9r3LUg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/projects/cjhlh8mhlhzvrf9g0rzrgfii58q7wnkm/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":d6bInfixKY30jU8rD6OWVw:zjnrLCdQlu7AYSOsufCslw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":d6bInfixKY30jU8rD6OWVw:zjnrLCdQlu7AYSOsufCslw:bME6XvDlHOcfR90h"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/cjhlh8mhlhzvrf9g0rzrgfii58q7wnkm/schedules","items":[{"sche[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/xsz1uanbekkxjyc5i9i2sh85khwy8xn9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:T0_ZypEe5kXL63w1TMnUFQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/k591rceob1b44duhsipej4abqcntgqxi/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:AjLmig-xPZ40upMD_csfBQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
