---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=j2tzl8cmbome4ugne2mhli9wj9pmd9w6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:C1SurQjvelRMSZ5JqT4Ykw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:C1SurQjvelRMSZ5JqT4Ykw:93rPb8kmkFr7uOcR"
      X-Gdc-Request-Time:
      - '18'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bhydrvWXJCox_UhAo9dgXjg","description":"My Test Description","domain":null,"project":"/gdc/projects/j2tzl8cmbome4ugne2mhli9wj9pmd9w6"},"meta":{"created":"2019-04-18
        14:59:28","updated":"2019-04-18 14:59:28"},"links":{"self":"/gdc/userGroups/bhydrvWXJCox_UhAo9dgXjg","members":"/gdc/userGroups/bhydrvWXJCox_UhAo9dgXjg/members","modifyMembers":"/gdc/userGroups/bhydrvWXJCox_UhAo9dgXjg/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:59:54 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=m5sam0e9tjgghtstn5re30se45kioqmt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9EVjWCSsCmRHnIRX7uBH8g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9EVjWCSsCmRHnIRX7uBH8g:2S0gPxb4d1RI3xHx"
      X-Gdc-Request-Time:
      - '22'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bO9BNenHLi30K4blNGcMV8w","description":"My Test Description","domain":null,"project":"/gdc/projects/m5sam0e9tjgghtstn5re30se45kioqmt"},"meta":{"created":"2019-04-18
        14:59:37","updated":"2019-04-18 14:59:37"},"links":{"self":"/gdc/userGroups/bO9BNenHLi30K4blNGcMV8w","members":"/gdc/userGroups/bO9BNenHLi30K4blNGcMV8w/members","modifyMembers":"/gdc/userGroups/bO9BNenHLi30K4blNGcMV8w/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:59:55 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=xsz1uanbekkxjyc5i9i2sh85khwy8xn9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:wT0es-1E5OAeEh8_tBT3AA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '20'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:wT0es-1E5OAeEh8_tBT3AA:PqMalU5glMKkYvxi"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"b12tM3WKbG5kPORaCoB_AEg","description":"My Test Description","domain":null,"project":"/gdc/projects/xsz1uanbekkxjyc5i9i2sh85khwy8xn9"},"meta":{"created":"2020-01-20
        06:06:10","updated":"2020-01-20 06:06:10"},"links":{"self":"/gdc/userGroups/b12tM3WKbG5kPORaCoB_AEg","members":"/gdc/userGroups/b12tM3WKbG5kPORaCoB_AEg/members","modifyMembers":"/gdc/userGroups/b12tM3WKbG5kPORaCoB_AEg/modifyMembers"}}}]}}'
  recorded_at: Mon, 20 Jan 2020 05:06:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=k591rceob1b44duhsipej4abqcntgqxi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:1uUhjkEeNtCg0GpGCNgWZw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:1uUhjkEeNtCg0GpGCNgWZw:B63340JT8sDD0SvC"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bFoW94Ks_6Lf4ci41YojQPQ","description":"My Test Description","domain":null,"project":"/gdc/projects/k591rceob1b44duhsipej4abqcntgqxi"},"meta":{"created":"2020-01-20
        06:06:22","updated":"2020-01-20 06:06:22"},"links":{"self":"/gdc/userGroups/bFoW94Ks_6Lf4ci41YojQPQ","members":"/gdc/userGroups/bFoW94Ks_6Lf4ci41YojQPQ/members","modifyMembers":"/gdc/userGroups/bFoW94Ks_6Lf4ci41YojQPQ/modifyMembers"}}}]}}'
  recorded_at: Mon, 20 Jan 2020 05:06:46 GMT
recorded_with: VCR 5.0.0
