---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9Nm75xwwxW0HjIBpmt3Bnw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9Nm75xwwxW0HjIBpmt3Bnw:ZDfkbk0og7cxhGXf"
      X-Gdc-Request-Time:
      - '38'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aab9ZlWqgy9M","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]},{"identifier":"aac9ZlWqgy9M","title":"Tab
        2","items":[{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/353","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":150,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/357","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}}]}],"filters":[]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/358","tags":"dashboard","created":"2019-04-18
        14:40:34","identifier":"dashboard.dashboard.2","deprecated":"0","summary":"","isProduction":1,"title":"Dashboard
        2","category":"projectDashboard","updated":"2019-04-18 14:36:13","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"projectDashboard":{"content":{"tabs":[{"identifier":"aac9ZeDKgyVm","title":"Tab
        1","items":[{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","sizeY":100,"sizeX":640,"visualization":{"grid":{"columnWidths":[]},"oneNumber":{"labels":{}}},"style":{"displayTitle":1,"background":{"opacity":0.0}},"positionY":0,"filters":[],"positionX":0}},{"reportItem":{"obj":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/353","[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:djeKbXLUTou4gmtpf4pjnQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:djeKbXLUTou4gmtpf4pjnQ:LYZyLXtPaMS6Jsh0"
      X-Gdc-Request-Time:
      - '30'
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/354"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/355","tags":"","created":"2019-04-18
        14:40:34","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2019-04-18 14:35:08","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:50:38 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/354
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:-sGWmUD6ViZEWDsYO_foxA"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:-sGWmUD6ViZEWDsYO_foxA:0ns3RjHuQMLP6EVe"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"reportDefinition":{"content":{"grid":{"sort":{"columns":[],"rows":[]},"columnWidths":[],"columns":[{"attribute":{"alias":"","totals":[[]],"uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/298"}}],"metrics":[{"alias":"Customers
        Count","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/351"}],"rows":["metricGroup"]},"format":"grid","filters":[]},"links":{"explain2":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/354/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/354","tags":"","created":"2019-04-18
        14:40:34","identifier":"aae9XDwAhiPM","deprecated":"0","summary":"","isProduction":1,"title":"Untitled
        report definition","category":"reportDefinition","updated":"2019-04-18 14:35:05","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:50:45 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:6R76JEMODTVDb8FZ6lRBAQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:6R76JEMODTVDb8FZ6lRBAQ:JJpZxu0GmwFCI529"
      X-Gdc-Request-Time:
      - '31'
    body:
      encoding: ASCII-8BIT
      string: '{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"COUNT","content":[{"value":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/286","position":{"column":27,"line":1},"type":"attribute
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        COUNT([/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/286])"},"links":{"explain2":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/351/explain2"},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/351","tags":"","created":"2019-04-18
        14:40:34","identifier":"metric.customers.count","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count","category":"metric","updated":"2019-04-18 14:34:44","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:50:47 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:9l4TUHO4i0Z8EgpjtpPUBQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:85G9_jA-lUFcJIaCfmi37g"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:85G9_jA-lUFcJIaCfmi37g:O2tiJbWUx4GCIGDP"
      X-Gdc-Request-Time:
      - '36'
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"metric":{"content":{"format":"#,##0","tree":{"content":[{"content":[{"value":"MAX","content":[{"value":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/315","position":{"column":25,"line":1},"type":"fact
        object"}],"position":{"column":21,"line":1},"type":"function"}],"position":{"column":21,"line":1},"type":"expression"}],"position":{"column":14,"line":1},"type":"metric"},"expression":"SELECT
        MAX([/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/315])"},"links":{"explain2":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/350/explain2"},"meta":{"locked":1,"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/obj/350","tags":"_lcm_managed_object
        metric","created":"2019-04-18 14:40:34","identifier":"metric.max.claim.amount","deprecated":"0","summary":"","isProduction":1,"title":"Max
        Claim Amount","category":"metric","updated":"2019-04-18 14:34:27","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}},{"metric":{"content":{"format":"#,##0","tree":{"conten[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ifu9pf5wu697rww6y7zld524mvkm7zy4/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:MUmbSLnQBuH7nfHseUiXGg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c6vxre8nhydx2z6t9716ssfsh19hm3im/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:IL2X_I2-RIDGT8lD2OBHZg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/objects/query?category=projectDashboard&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:3x95LQwqLbALKLf4Gqojxg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:3x95LQwqLbALKLf4Gqojxg:daPgSGbCQaRIyq6D"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":2,"offset":0},"items":[{"projectDashboard":{"content":{"tabs":[{"identifier":"aabfJuUPe1Qc","title":"Tab
 [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/obj/357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:kKIlBklHZk4XqySajBRZzg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:kKIlBklHZk4XqySajBRZzg:CwlZ1sJDqGE8Ok9r"
    body:
      encoding: ASCII-8BIT
      string: '{"report":{"content":{"domains":[],"definitions":["/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/obj/356"]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/obj/357","tags":"","created":"2020-01-20
        05:47:04","identifier":"report.customers.count.by.gender","deprecated":"0","summary":"","isProduction":1,"title":"Customers
        Count By Gender","category":"report","updated":"2020-01-20 05:40:25","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 20 Jan 2020 04:55:19 GMT
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:AGXQWmurlJCRr0rvqNUTgQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/d02y5s6j3x8qa3khic97varmbv0f5x84/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:rpWZw3gC8Z_t-_F0gLj5Gg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:koGbpdto4VLOP7VEOevnbw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ynqoapoowrg6j1futcdw7cfuf7rc88tv/objects/query?category=metric&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:bllr5tOZa3S1yfZzqRaQNg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      [...]
