---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:TaVLiRp7y1R9JKslacJytw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:TaVLiRp7y1R9JKslacJytw:QEi9FU9WylidQXcQ"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:38:50 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:9obbyhKaNP8a6sMHZiiNhQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '41'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:9obbyhKaNP8a6sMHZiiNhQ:QrIns6Vc6Pr42XOw"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:38:51 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:HHD0MLNWbc9xHdLkaw896A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:HHD0MLNWbc9xHdLkaw896A:vLZ5h5eUmm5kwUZA"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:38:52 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wnuase472p29kuq16qsi4xmj01oo6n3u/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:cuz8mTwB--zjn3pNAgQa4w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '21'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:cuz8mTwB--zjn3pNAgQa4w:FciBidi3reJKTL3o"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Mon, 29 Jun 2020 08:49:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jqz6r113xvd6pd4tn6omllqg5i48rpov/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:kGmBujrsQMGjBQqXUJKKQw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:kGmBujrsQMGjBQqXUJKKQw:uClROYyQ5dA1hjaM"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Mon, 29 Jun 2020 08:49:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t5wfemsvs42x6xon2orjhkf0uuwfqr34/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:dKKrUKtXmWzcsXyQVWwW-g"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:dKKrUKtXmWzcsXyQVWwW-g:QxKvXAYkHDj1pl0b"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Mon, 29 Jun 2020 08:49:34 GMT
recorded_with: VCR 5.0.0
