---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Sf9VdMutyiL9YiQaV1xhiQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:Sf9VdMutyiL9YiQaV1xhiQ:lYTnSq6ujXPBxxFM"
      X-Gdc-Request-Time:
      - '13'
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules","items":[{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"ENABLED","params":{"all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","dynamic_param":"LCM_SPEC_CLIENT_0"},"hiddenParams":{"all_dynamic_hidden_param":"is_in_every_hidden_param_value","dynamic_hidden_param":"LCM_SPEC_CLIENT_0","secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules/5cb8717ae4b0d86679f226a3","executions":"/gdc/projects/c6vxre8nhydx2z6t9716ssfsh19hm3im/schedules/5cb8717ae4b0d86679f226a3/executions"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:53:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifu9pf5wu697rww6y7zld524mvkm7zy4/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:GXBNUwOTHvzA6tSRUNXQwg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/yh4nq8fhp6fvw8vch2eb259dj7fy3q9x/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:jNwjpZnS7a2UEoMHMdEbsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/v8k8z4ieaxsn08iczfjxc7bu1co5djuo/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:jNwjpZnS7a2UEoMHMdEbsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/b2cgbcg9qs31nc2g5ayo93wljol963bk/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:jNwjpZnS7a2UEoMHMdEbsw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
     [...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ynqoapoowrg6j1futcdw7cfuf7rc88tv/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:3o_1Z4_ZGQGvkYjLvDLoag"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '17'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:3o_1Z4_ZGQGvkYjLvDLoag:wpuIjhAIonQOmG7u"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/ynqoapoowrg6j1futcdw7cfuf7rc88tv/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"ENABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","all_dynamic_param":"is_in_every_schedule","EXECUTABLE":"graph/test.grf","param_2":"b","param_1":"a","print_reverted":"hidden_msg_from_rollout_brick,SECURE_PARAM_2","msg_from_rollout_brick":"Hi,
        I was set by rollout brick","PROCESS_ID":"270932ae-0ac8-4240-a482-13635ddfdb17"},"hiddenParams":{"secure_param_2":null,"secure_param_1":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null,"all_dynamic_hidden_param":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2020-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/ynqoapoowrg6j1futcdw7cfuf7rc88tv/schedules/5e25323571a60127ae1c56fd","executions":"/gdc/projects/ynqoapoow[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/py1x4y6xhvgby2r1j3fdj56qqqrlwbzd/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:A-0pMs-ANl1YLKO7qX_D5w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/d02y5s6j3x8qa3khic97varmbv0f5x84/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:iJKaOCEexJAB9PeYSL31Kw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
