---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/q3z8wbzkhnppkkj7gk9ovboc7ctjxx8o/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:fyOXqkmD9HVuZHBrIGsVJA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '33'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:fyOXqkmD9HVuZHBrIGsVJA:rmVztXCjH9Amoo9p"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:32:31 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/ebq21r3kfv796qibuvauin0kx86t4jst/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:3UHF0NderbOlMMFurYfcAw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '29'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:3UHF0NderbOlMMFurYfcAw:YaOuoYIoT9XY2bIm"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:32:32 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/avdksllbhnyjvfeuyp2p3kg0xvp2zx64/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:rYYxdK15-OZdOrh9zmR_vw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '26'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:rYYxdK15-OZdOrh9zmR_vw:AENS1FUaZ7oh04Od"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Thu, 07 May 2020 13:32:33 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/t5wfemsvs42x6xon2orjhkf0uuwfqr34/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:b91P9D02VYb7nL1AFxa3Dw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:b91P9D02VYb7nL1AFxa3Dw:1eUiZpje4NUTeX7N"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Mon, 29 Jun 2020 08:20:58 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jqz6r113xvd6pd4tn6omllqg5i48rpov/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:fiUWccVnLeOVno7SYcrLHw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:fiUWccVnLeOVno7SYcrLHw:yj5QNE6ceruKNpEt"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Mon, 29 Jun 2020 08:20:59 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/wnuase472p29kuq16qsi4xmj01oo6n3u/objects/query?category=prompt&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:mScXF4gHUus4b6LFuXkEIQ"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '19'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:mScXF4gHUus4b6LFuXkEIQ:WPjbKQ5fhjRZ0dkT"
    body:
      encoding: ASCII-8BIT
      string: '{"objects":{"paging":{"count":0,"offset":0},"items":[]}}'
  recorded_at: Mon, 29 Jun 2020 08:21:00 GMT
recorded_with: VCR 5.0.0
