---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":2Wa6iWupUmeg_6eZ0KTMwg:aSQ3KPUfb85zxerq0Pm36w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '11'
      X-Gdc-Request:
      - ":2Wa6iWupUmeg_6eZ0KTMwg:aSQ3KPUfb85zxerq0Pm36w:L8mKbhBCxbCGGjN5"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":3},"schedulesLink":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","PROCESS_ID":"015d2b63-8388-4729-a1c0-18e85aa13aef"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules/5eb409fb701b854f340f7be4","executions":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules/5eb409fb701b854f340f7be4/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"DISABLED","params":{"param_1":"a","EXECUTABLE":"main.rb","param_2":"b","PROCESS_ID":"e3e9d877-952c-4ebd-8027-179c85ab9cc7"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules/5eb409ff701b854f340f7be5","executions":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules/5eb409ff701b854f340f7be5/executions"},"triggerScheduleId":"5eb409fb701b854f340f7be4"}},{"schedule":{"name":"add-component-schedule","type":"MSETL","state":"ENABLED","params":{"EXECUTABLE":"add-component-schedule","PROCESS_ID":"a766d98a-ae7f-4832-b821-b71a2fcf5789"},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules/5eb40a061be1fc1de0fd02c7","executions":"/gdc/projects/d1jibu5q4oaxutzx2gvh940i9c95domw/schedules/5eb40a061be1fc1de0fd02c7/executions"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:25:41 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:FP7bB9nM1_YS8dlQCmneIw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '12'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:FP7bB9nM1_YS8dlQCmneIw:Q83FZ2msBuris7oD"
    body:
      encoding: ASCII-8BIT
      string: '{"schedules":{"paging":{"offset":0,"count":2},"schedulesLink":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/schedules","items":[{"schedule":{"name":"test.grf","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"graph/test.grf","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"c35011e9-2ebe-413d-a1ed-81cf1488ae40"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"cron":"0
        15 10 3 *","timezone":"UTC","nextExecutionTime":"2021-03-10T15:00:00.000Z","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/schedules/5eb40bc9701b854f340f7be6","executions":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/schedules/5eb40bc9701b854f340f7be6/executions"}}},{"schedule":{"name":"SimpleRubySchedule","type":"MSETL","state":"DISABLED","params":{"msg_from_release_brick":"Hi,
        I was set by release brick","param_1":"a","EXECUTABLE":"main.rb","param_2":"b","print_reverted":"hidden_msg_from_release_brick,SECURE_PARAM_2","PROCESS_ID":"7832728d-b7d9-4126-9033-2711ae6e275e"},"hiddenParams":{"secure_param_1":null,"secure_param_2":null,"hidden_msg_from_release_brick":null,"SECURE_PARAM_2":null},"timezone":"UTC","consecutiveFailedExecutionCount":0,"ownerLogin":"rubydev+admin@gooddata.com","links":{"self":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/schedules/5eb40bcc701b854f340f7be7","executions":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v/schedules/5eb40bcc701b854f340f7be7/executions"},"triggerScheduleId":"5eb40bc9701b854f340f7be6"}}]}}'
  recorded_at: Thu, 07 May 2020 13:25:42 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/m7meiy4mltkrfe0pim002b7vwwn05s4p/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:RYFUz2R12NRY6BEVPZIPig"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-dev.intgdc.com/gdc/projects/uvios3npjiw7exldjfoliwwrxnb4m6j9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":ml0iq8AU2NNyQyuVQA3iNw:Q04RQJGHe2IZEuTO9eObSw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/srz3n8n91tmzpbom14p9m5ei6agr0be9/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:H8z8DwkWabqcMQDXtmKU8w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/projects/ifuwvwqgya0rw67u3mx01x8g2jnmatyg/schedules
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:Y6LLdTKXIbNpN6BFwlt2XA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X[...]
