---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=aa9kzlzod3nq7oj9zj6q2ixk021j1v3v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pWdNdj7sdVLiNwzQmTmpLA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '49'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pWdNdj7sdVLiNwzQmTmpLA:rOzAIZNS3kwoTQXa"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bp2G0Gb94MjZhvZ5FNX_fNQ","description":"My Test Description","domain":null,"project":"/gdc/projects/aa9kzlzod3nq7oj9zj6q2ixk021j1v3v"},"meta":{"created":"2020-05-07
        15:23:57","updated":"2020-05-07 15:23:57"},"links":{"self":"/gdc/userGroups/bp2G0Gb94MjZhvZ5FNX_fNQ","members":"/gdc/userGroups/bp2G0Gb94MjZhvZ5FNX_fNQ/members","modifyMembers":"/gdc/userGroups/bp2G0Gb94MjZhvZ5FNX_fNQ/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:25:06 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=m7meiy4mltkrfe0pim002b7vwwn05s4p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pKX8-xEYWIHvHhbiY2qQuw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '25'
      X-Gdc-Request:
      - ":bRskxGTtAwaCcYwF7SRZHA:pKX8-xEYWIHvHhbiY2qQuw:kpWn6FcKQcF0CAkb"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bQzXTyZeIho4dRhVcqsqMdw","description":"My Test Description","domain":null,"project":"/gdc/projects/m7meiy4mltkrfe0pim002b7vwwn05s4p"},"meta":{"created":"2020-05-07
        15:24:11","updated":"2020-05-07 15:24:11"},"links":{"self":"/gdc/userGroups/bQzXTyZeIho4dRhVcqsqMdw","members":"/gdc/userGroups/bQzXTyZeIho4dRhVcqsqMdw/members","modifyMembers":"/gdc/userGroups/bQzXTyZeIho4dRhVcqsqMdw/modifyMembers"}}}]}}'
  recorded_at: Thu, 07 May 2020 13:25:07 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=srz3n8n91tmzpbom14p9m5ei6agr0be9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:eT_5gT5Ewset8g39rAhhGg"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '38'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:eT_5gT5Ewset8g39rAhhGg:y1dbltMp6hFmfrs9"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bzp61jDs3-vdAAX1yG4VjqA","description":"My Test Description","domain":null,"project":"/gdc/projects/srz3n8n91tmzpbom14p9m5ei6agr0be9"},"meta":{"created":"2020-06-29
        10:12:11","updated":"2020-06-29 10:12:11"},"links":{"self":"/gdc/userGroups/bzp61jDs3-vdAAX1yG4VjqA","members":"/gdc/userGroups/bzp61jDs3-vdAAX1yG4VjqA/members","modifyMembers":"/gdc/userGroups/bzp61jDs3-vdAAX1yG4VjqA/modifyMembers"}}}]}}'
  recorded_at: Mon, 29 Jun 2020 08:13:23 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=ifuwvwqgya0rw67u3mx01x8g2jnmatyg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:nAW1GwzRHwHA_1u7-rA7gw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '55'
      X-Gdc-Request:
      - ":VvyoM3RL1a39zR6WiU6kRA:nAW1GwzRHwHA_1u7-rA7gw:9Ov6INLquxg7Ycot"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"brouHMi5mZfavdkSBpXuKpQ","description":"My Test Description","domain":null,"project":"/gdc/projects/ifuwvwqgya0rw67u3mx01x8g2jnmatyg"},"meta":{"created":"2020-06-29
        10:12:26","updated":"2020-06-29 10:12:26"},"links":{"self":"/gdc/userGroups/brouHMi5mZfavdkSBpXuKpQ","members":"/gdc/userGroups/brouHMi5mZfavdkSBpXuKpQ/members","modifyMembers":"/gdc/userGroups/brouHMi5mZfavdkSBpXuKpQ/modifyMembers"}}}]}}'
  recorded_at: Mon, 29 Jun 2020 08:13:25 GMT
recorded_with: VCR 5.0.0
