---
http_interactions:
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=jkxr5qwqvzd4wleqh24ln9899xgkj1n8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:dN_iJ2NHGvIrRCrqfe5_4w"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:dN_iJ2NHGvIrRCrqfe5_4w:inF5t3f1emuxLhwW"
      X-Gdc-Request-Time:
      - '20'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bnIe899Xjix5Nfd-OPy1FBg","description":"My Test Description","domain":null,"project":"/gdc/projects/jkxr5qwqvzd4wleqh24ln9899xgkj1n8"},"meta":{"created":"2019-04-18
        14:41:52","updated":"2019-04-18 14:41:52"},"links":{"self":"/gdc/userGroups/bnIe899Xjix5Nfd-OPy1FBg","members":"/gdc/userGroups/bnIe899Xjix5Nfd-OPy1FBg/members","modifyMembers":"/gdc/userGroups/bnIe899Xjix5Nfd-OPy1FBg/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:42:44 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:v7NnWrM5zmEuK5tnBvIbhw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:v7NnWrM5zmEuK5tnBvIbhw:NE2oB6VRxt8yzNYc"
      X-Gdc-Request-Time:
      - '21'
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bahlvJGkHm2kAptKm0a51gw","description":"My Test Description","domain":null,"project":"/gdc/projects/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u"},"meta":{"created":"2019-04-18
        14:42:03","updated":"2019-04-18 14:42:03"},"links":{"self":"/gdc/userGroups/bahlvJGkHm2kAptKm0a51gw","members":"/gdc/userGroups/bahlvJGkHm2kAptKm0a51gw/members","modifyMembers":"/gdc/userGroups/bahlvJGkHm2kAptKm0a51gw/modifyMembers"}}}]}}'
  recorded_at: Thu, 18 Apr 2019 12:42:45 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=e1lvfhnpoti4o9pq9ha1wslbzslbslsp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:2mgQ6Z9HV3joblDHQD0onw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '43'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:2mgQ6Z9HV3joblDHQD0onw:otcafPKX8LldP6Ah"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bTqlSzc06vh3OUwrSmSLSQA","description":"My Test Description","domain":null,"project":"/gdc/projects/e1lvfhnpoti4o9pq9ha1wslbzslbslsp"},"meta":{"created":"2020-01-20
        05:48:47","updated":"2020-01-20 05:48:47"},"links":{"self":"/gdc/userGroups/bTqlSzc06vh3OUwrSmSLSQA","members":"/gdc/userGroups/bTqlSzc06vh3OUwrSmSLSQA/members","modifyMembers":"/gdc/userGroups/bTqlSzc06vh3OUwrSmSLSQA/modifyMembers"}}}]}}'
  recorded_at: Mon, 20 Jan 2020 04:49:47 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/userGroups?project=h2v4zjfr3uf2k5xxhsre0ya05iq5nil4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:WOgaTFDOX8mEyO6LZDJsUw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '22'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:WOgaTFDOX8mEyO6LZDJsUw:TsTIz7OjW63dCD1Z"
    body:
      encoding: ASCII-8BIT
      string: '{"userGroups":{"paging":{"offset":null,"limit":1000,"next":null},"items":[{"userGroup":{"content":{"name":"My
        Test Group","id":"bh8vfw298blZ8mRWvG8MchQ","description":"My Test Description","domain":null,"project":"/gdc/projects/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4"},"meta":{"created":"2020-01-20
        05:48:58","updated":"2020-01-20 05:48:58"},"links":{"self":"/gdc/userGroups/bh8vfw298blZ8mRWvG8MchQ","members":"/gdc/userGroups/bh8vfw298blZ8mRWvG8MchQ/members","modifyMembers":"/gdc/userGroups/bh8vfw298blZ8mRWvG8MchQ/modifyMembers"}}}]}}'
  recorded_at: Mon, 20 Jan 2020 04:49:48 GMT
recorded_with: VCR 5.0.0
