---
http_interactions:
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PCjm0Pu9QYI1Bzf58gOH6Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:PCjm0Pu9QYI1Bzf58gOH6Q:C3WoX5tlZxryT5Ng"
      X-Gdc-Request-Time:
      - '24'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 12:43:05 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:uw3c4lMX8YX4ZY3WKlzrWg"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:uw3c4lMX8YX4ZY3WKlzrWg:4ZELewHOuwkH7fqA"
      X-Gdc-Request-Time:
      - '62'
    body:
      encoding: ASCII-8BIT
      string: '{"dataSet":{"content":{"mode":"","facts":["/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/312","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/313","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/314","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/315"],"dataLoadingColumns":["/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/92","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/94","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/87","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/89","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/77","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/79","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/72","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/74","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/97","/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/99"[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/312
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:IM5l9SO6jrdqowbCdHsy-Q"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:IM5l9SO6jrdqowbCdHsy-Q:o7oZiilboHHWQ4ca"
      X-Gdc-Request-Time:
      - '32'
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/311"],"expr":[{"type":"col","data":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/34"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/jkxr5qwqvzd4wleqh24ln9899xgkj1n8/obj/312","tags":"fact","created":"2019-04-18
        14:38:12","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2019-04-18 14:40:34","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Thu, 18 Apr 2019 12:43:07 GMT
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:fSyvhrNsHzWjaVUfhMGUIQ"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:fSyvhrNsHzWjaVUfhMGUIQ:EsEXvHs6tTpftE70"
      X-Gdc-Request-Time:
      - '27'
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/115"}]}'
  recorded_at: Thu, 18 Apr 2019 12:43:08 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/c0ioxhc4zp70r6u4lgrhfcq5ez2c1w6u/obj/115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":mqq9aj74KN01b_JNGLlprw:dV_7O51T97-Hx4oDz-stJw"
      Stats-On:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:_P-xGufLTQ5yrzunOVQJfw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '28'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:_P-xGufLTQ5yrzunOVQJfw:xGFQm3izAvLErBUp"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/obj/117"}]}'
  recorded_at: Mon, 20 Jan 2020 04:50:09 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/e1lvfhnpoti4o9pq9ha1wslbzslbslsp/obj/117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:1uXTwLdZBIXFRxTWZdDN9A"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: post
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/identifiers
    body:
      encoding: UTF-8
      string: '{"identifierToUri":["dataset.csv_policies"]}'
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:iXa1PL6XWuMxCesIsQ94qA"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '34'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:iXa1PL6XWuMxCesIsQ94qA:Gj3e6STZeziQezNN"
    body:
      encoding: ASCII-8BIT
      string: '{"identifiers":[{"identifier":"dataset.csv_policies","uri":"/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/obj/117"}]}'
  recorded_at: Mon, 20 Jan 2020 04:50:12 GMT
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/obj/117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:D23cpeiZA3PJj9y44MXwlw"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log[...]
[...]
- request:
    method: get
    uri: https://staging2-lcm-prod.intgdc.com/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/obj/314
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Gdc-Authtt:
      - "<X_GDC_AUTHTT>"
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:Jo_3j0pi1SyvmN-quJdY6w"
      Stats-On:
      - ''
      X-Gdc-Version:
      - '2'
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Gdc-Log-Header:
      - ''
      Content-Type:
      - application/json;charset=UTF-8
      X-Gdc-Request-Time:
      - '35'
      X-Gdc-Request:
      - ":khvB9WRu3MGEpnzND4O8Vw:Jo_3j0pi1SyvmN-quJdY6w:fRh0wBiwQ2bhwnhr"
    body:
      encoding: ASCII-8BIT
      string: '{"fact":{"content":{"folders":["/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/obj/313"],"expr":[{"type":"col","data":"/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/obj/36"}]},"meta":{"author":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa","uri":"/gdc/md/h2v4zjfr3uf2k5xxhsre0ya05iq5nil4/obj/314","tags":"fact","created":"2020-01-20
        05:44:40","identifier":"fact.csv_policies.customer_lifetime_value","deprecated":"0","summary":"","isProduction":1,"title":"Customer
        Lifetime Value","category":"fact","updated":"2020-01-20 05:47:18","contributor":"/gdc/account/profile/5ad80b895edcc438e5a4418e222733fa"}}}'
  recorded_at: Mon, 20 Jan 2020 04:50:15 GMT
recorded_with: VCR 5.0.0
